[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
colorama = "*"
discord.py = "*"
pytz = "*"

[dev-packages]
# Add your development dependencies here, if any.
